<!DOCTYPE html>
<html>
<head>
	<title>Previous Chats</title>
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style type="text/css">
		body {
			padding-top: 40px;
			padding-bottom: 40px;
			background-color: white;
		}
		.login-box {
			max-width: 330px;
			margin: 0 auto;
		}
		.login-box .form-control {
			margin-bottom: 10px;
		}
	</style>
</head>
<body>
	<div class="login-box">
	  <h1>Previous Chats</h1>
	  <h5>Scroll down to see all of the chats you've been a part of recently.</h5>
	  <div style="width:300px;height:50px;border:1px solid #000;">
	  	<b>Name of Chat</b><br>
	  	Last Message in Chat
	  </div>
	  <div style="width:300px;height:50px;border:1px solid #000;">
	  	<b>Silver,Zuckerberg</b><br>
	  	See ya later!
	  </div>
	  <div style="width:300px;height:50px;border:1px solid #000;">
	  	<b>Example</b><br>
	  	Example :)
	  </div>
	  <div style="width:300px;height:50px;border:1px solid #000;">
	  	<b>Example</b><br>
	  	Example :)
	  </div>
	  <div style="width:300px;height:50px;border:1px solid #000;">
	  	<b>Example</b><br>
	  	Example :)
	  </div>
	  <p></p>
	  <a href="/chatMain">Click HERE to return to main chat page.</a><br>
	</div>
</body>
</html>